/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #3d5f99;
  height: 7em;
  color: #fff;
  padding-left: 10%;
  width: 100%
}

.header h1 {
  font-weight: bold;
  padding: 0.5em;
}

.log-link {
  background-color: #3d5f99;
  padding: 0;
  color: #fff;
  width: 100%;
}



footer {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  color: #ccc;
}

footer p {
  vertical-align: bottom;
  text-align: center;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}
